*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
main{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.favButton{
  background-color: rgba(136, 136, 136, 0.116);
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
}

h1{
  text-align: center;
  font-size: 3rem;
}


a{
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}
a:hover{
  color: rgb(136, 136, 136);
} 

footer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  position: relative;
  bottom: 0;
  width: 90%;
  height: 35%;
  margin-top: 2rem;
}

footer > img{
  width: 200px;
  margin: 0;
}
footer > p{
  margin: 0;
  padding-top: 0.7rem;
}
.contacto{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 70vh;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 37vh;
  margin: 0 auto;
}
form input{
  border: none;
  border-radius: 20px;
  height: 2rem;
}
form label{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
}

.card-detail{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80vw;
}
.card-detail img{
  height: 55%;
  width: 50%;
}
.card:hover{
  border: 0.5px solid rgb(206, 217, 142);
}

.card-grid{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  /* gap: 1rem; */
  width:90%;
  height:fit-content;
  margin: 0;
  
}
.card-grid div{
  width: 15vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(58, 131, 226);
  border-radius: 15px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  padding: 0;
}
.card-grid div h5{
  font-style: italic;
  font-weight: lighter;
}
.card-grid img{
  height: 55%;
  width: 100%;
  border-start-end-radius: 15px;
  border-start-start-radius: 15px;
}
.card img{
  width: 100%;
}
.favs{
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    border: 1px solid #ccc;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.dark{
  background-color: #12121296;
  color: white;
}
.dark > a {
  color: white;
}
.light{
  background-color: #b3d2df96;
  color: rgb(41, 38, 38);
}
.light > a {
  color: rgb(75, 71, 94);
}
nav{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  padding: 1rem;
  height: 13vh;
}
nav button{
  border: none;
  background: fixed;
  font-size: 1.1rem;
}